body{
    margin-left: 10%;
    margin-right: 10%;
    
    background-color: #131313;
    font-family: monospace;
    color: white;
    font-size: 20px;
}
a:link{
    font-family: monospace;
    color: white;
}
a:visited{
    font-family: monospace;
    color: white;
}

a:hover{
    font-family: monospace;
    color: rgb(222, 222, 222);
}

.bold{
    color: red;
}

.spacer{
    padding-top: 50px;
}

.content{
    background: #353535;
}